@media not screen and (min-aspect-ratio: 10/16) {
    .logo {
        width: 100%;
        height: auto;
    }

    .navbar {
        flex-direction: column;
        height: fit-content;
        padding-left:5%;
        padding-right:5%;
        width:90%;
        background-color: #081c32;
        padding-top: 6px;
        display: flex;
    }

    .btnContainer {
        display: flex;
        padding-top: 1vw;
    }

    .navbarBtn{
        user-select: none;
        background-color: transparent;
        border: medium;
        color: rgb(27, 97, 173);
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 6vw !important;
    }

    .SectionPage {
        max-width: 100%;
    }

    .overlay {
      padding: 10px;
    }

    .GameArt {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    body {
        font-size:80%;
    }

    h1 {
        font-size: max(6vw,14px) !important;
    }
    h2 {
        font-size: max(5vw,12px) !important;
    }
}
