:root {
	--radius: 4px;
	--adapta: #263238;
	--bg-color: #111;
	--linkColor: #4e91e4;

	--fg-light: #eef2f7;
	--bg-light: #eef2f7;

	--fg-lighter: white;
	--bg-lighter: white;

	--fg-dark: #546778;
	--bg-dark: #263238;

	--fg-shaded: #ddd;
	--bg-shaded: #ddd;

	/*--fg-primary: #0096FF;Used in blender*/
	--fg-primary: #0099CE;/*after color management*/
	/*--bg-primary: #1A416B;*/
	--bg-primary: #1b61ad;

	--fg-success: #3fc778;
	--bg-success: #3fc778;

	--fg-warning: #ff972d;
	--bg-warning: #ff972d;

	--fg-error: #c2352a;
	--bg-error: #c2352a;

	--fg-red: #c2352a;
	--bg-red: #c2352a;

	--fg-green: #3fc778;
	--bg-green: #3fc778;

	--fg-blue: #2f67ba;
	--bg-blue: #2f67ba;

	--fg-orange: #ff972d;
	--bg-orange: #ff972d;

	--padding: 11px;
	--transitionTime: 0.5s;

    --blueAxisBright:#FFFFFF;
    --blueAxisLight: #0096FF;
    --blueAxisDark: #081c32;
    --blueAxisDarker: #111;
}


.anigrad {
	background-position-x: 0px;
	background-size: 250px 250px;
	background-image: linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);
	animation-name: movegrad;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.anigrad2 {
	background-position-x: 0px;
	background-size: 2500px 2500px;
	background-image: linear-gradient(
		90deg,
		transparent 0%,
		rgba(255, 255, 255, 0.125),
		rgba(255, 255, 255, 0.125),
		rgba(255, 255, 255, 0.125),
		transparent 75%
	);

	animation-name: movegrad2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes movegrad {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: 250px;
	}
}
@keyframes movegrad2 {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: 2500px;
	}
}

body {
	font-family: Roboto, sans-serif;
	background-color: var(--bg-color);
	color: var(--fg-light);
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

/*Display*/
.none  {
	display: none;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.inline-flex {
	display: inline-flex;
}
.flex {
	display: flex;
}

/*Utils*/
.selectable {
	cursor: pointer;
}

/*Shadows*/
.shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow2 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow3 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow4 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow5 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow6 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*Utilities*/
body .disabled {
	filter: saturate(0);
	opacity: 0.5;
}

body .centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}

body .right {
	float: right;
}
body .left {
	float: left;
}

clearfix::after {
	display: block;
	content: "";
	clear: both;
}

body .fluid {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.flex {
	display: flex !important;
}

.flexV,
.flexv {
	display: flex !important;
	flex-direction: column;
}

.flex1 {
	flex: 1;
}
.flex2 {
	flex: 2;
}
.flex3 {
	flex: 3;
}
.flex4 {
	flex: 4;
}
.flex5 {
	flex: 5;
}

/*Component*/
/*Button*/
.fieldset {
	font-size: 18px;
	font-weight: 400;
	border: solid 1.45px grey;

	border-radius: var(--radius);
	width: max-content;
	margin-bottom: 12px;
}

.fieldset > legend {
	color: var(--fg-lighter);
	padding-left: 6px;
	padding-right: 4px;
	/*border:solid 1.45px grey;
	border-radius:var(--radius);
	border-bottom:solid 2px grey;*/
}

.button,
.input[type="button" i] {
	margin: 4px;
	color: var(--bg-light);
	border-radius: var(--radius);
	background-color: var(--bg-primary);
	padding: var(--padding);
	width: max-content;
	font-weight: 900;
	letter-spacing: 2px;

	display: inline-block;
	transition: background-color 0.3s;
	cursor: pointer;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	border: 0;

	transition: var(--transitionTime);
	filter: brightness(1);
}

.button.small,
.input[type="button" i] {
	font-size: 11px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.button.big {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.grouped > .button.active {
	box-shadow: inset 0px 0px 20px 20px #00000088;
}
.grouped > .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}

.Grouped > .button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -2px;
}

/*Colors*/
.bg-adapta {
	background-color: var(--adapta);
}
.bg-shaded {
	background-color: var(--bg-shaded);
}
.bg-light {
	background-color: var(--bg-light);
}
.bg-lighter {
	background-color: var(--bg-lighter);
}
.bg-dark {
	background-color: var(--bg-dark);
}
.bg-primary {
	background-color: var(--bg-primary);
}
.bg-success {
	background-color: var(--bg-success);
}
.bg-warning {
	background-color: var(--bg-warning);
}
.bg-error {
	background-color: var(--bg-error);
}

.fg-adapta {
	color: var(--adapta);
}
.fg-dark {
	color: var(--fg-dark);
}
.fg-light {
	color: var(--fg-light);
}
.fg-lighter {
	color: var(--fg-lighter);
}

.fg-primary {
	color: var(--fg-primary);
}
.fg-success {
	color: var(--fg-success);
}
.fg-warning {
	color: var(--fg-warning);
}
.fg-error {
	color: var(--fg-error);
}

.button:hover,
.input[type="button" i]:hover {
	transition: var(--transitionTime);
	filter: brightness(0.75);
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: var(--bg-dark);
	border: 1px solid RGBA(255, 255, 255, 0.04);
	box-shadow: inset 0px 0px 3px 3px #00000033, 0px 0px 3px 3px #00000022;
	border-radius: 100px;
	outline: none;

	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	transform: scale(1);
	width: 20px;
	height: 20px;
	border-radius: 100px;
	background: var(--fg-primary);
	cursor: pointer;
	transition: 0.21s;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	transform: scale(1);
	border: solid 1px RGBA(255, 255, 255, 0.1);
	background: #4caf50;
	cursor: pointer;
}

/*Tip*/
.tip {
	border-radius: var(--radius);

	display: block;
	width: calc(100% - 15px - 30px);
	line-height: 24px;
	font-size: 16px;
	position: relative;

	border-left-style: solid;
	border-radius: 5px;
	border-left-width: 5px;
	border-radius: 5px;

	border-left-color: var(--primary);

	background-color: var(--bg-light);
	color: #546778;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 20px;
}

.tip.success {
	border-left-color: var(--bg-success);
}
.tip.warning {
	border-left-color: var(--bg-warning);
}
.tip.error {
	border-left-color: var(--bg-error);
}

/*Alerts*/
.alert {
	border-radius: var(--radius);

	display: block;
	width: calc(100% - 15px - 30px);
	line-height: 24px;
	font-size: 16px;
	position: relative;
	border-radius: 5px;
	background-color: var(--bg-light);
	color: #546778;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 20px;
}

.alert.error {
	background-color: var(--bg-error);
	color: var(--fg-light);
}
.alert.success {
	background-color: var(--bg-success);
	color: var(--fg-light);
}
.alert.warning {
	background-color: var(--bg-warning);
	color: var(--fg-light);
}

/*Paragraph*/
.p {
	display: block;
	line-height: 24px;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 20px;
}

/*span*/
.span {
	border-radius: var(--radius);
	font-size: 11px;
	font-weight: 700;
	color: var(--fg-light);
	line-height: 24px;
	padding: 4px;
	padding-top: 0px;
	padding-bottom: 2px;
}
.pill {
	border-radius: 12px;
	font-size: 11px;
	font-weight: 700;
	color: var(--fg-light);
	line-height: 24px;
	padding: 8px;
	padding-top: 0px;
	padding-bottom: 2px;
}

/*rule*/
.rule {
	display: block;
	height: 2px;
	background-color: grey;
	opacity: 0.5;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
}

/*close*/
.close {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: relative;
	border-radius: 100px;
	background-color: var(--bg-light);
}
.close::after,
.close::before {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 4px;
	background-color: grey;
	transition: var(--transitionTime);
}
.close::after {
	transform: rotate(-45deg);
}
.close::before {
	transform: rotate(45deg);
}
.close:hover::after,
.close:hover::before {
	transition: var(--transitionTime);
	background-color: var(--bg-error);
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: relative;

	background-color: transparent;
	transform: scale(1);
	transition: var(--transitionTime);
}
.icon:hover {
	transform: scale(1.1);
}
.invert {
	filter: invert(1);
}
/*minus*/
.minus {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: relative;
	border-radius: 100px;
	background-color: var(--bg-light);
}
.minus::after {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 4px;
	background-color: grey;
	transition: var(--transitionTime);
}
.minus:hover::after {
	transition: var(--transitionTime);
	background-color: var(--bg-blue);
}

/*plus*/
.plus {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: relative;
	border-radius: 100px;
	background-color: var(--bg-light);
	transition: var(--transitionTime);
}
.plus::after,
.plus::before {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 4px;
	background-color: grey;
	transition: var(--transitionTime);
}
.plus::after {
	transform: rotate(90deg);
}
.plus:hover::after,
.plus:hover::before {
	transition: var(--transitionTime);
	background-color: var(--bg-green);
}

.close,
.minus,
.plus {
	margin: 2px;
}

/*Spinner*/
.spinner {
	width: 28px;
	height: 28px;
	display: inline-block;

	border-radius: 100%;
	/*
	border:solid 3px var(--bg-blue);
	
	clip-path: inset(20px 0px 0px 0px);
	animation-name: rotate;
  	animation-duration: 1s;
	animation-iteration-count: infinite;
	*/
}
.spinner::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;

	border-radius: 100%;
	border: solid 4px var(--bg-primary);

	clip-path: inset(18px 18px 0px 0px);
	animation-delay: -0.1s;

	animation-name: rotate;
	animation-duration: 1s;

	animation-iteration-count: infinite;
}
.spinner::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;

	border-radius: 100%;
	border: solid 4px var(--bg-primary);

	clip-path: inset(14px 18px 0px 0px);

	animation-name: rotate;
	animation-duration: 1s;

	animation-iteration-count: infinite;
}
@keyframes rotate {
	from {
		transform: rotate(120deg);
	}
	to {
		transform: rotate(480deg);
	}
}

/*spinner2*/
.spinner2 {
	display: inline-block;
	border-radius: 100%;
}

.spinner2:after {
	content: "";

	display: inline-block;

	border-radius: 100%;

	width: 8px;
	height: 8px;
	margin: 16px;
	margin-bottom: 12px;

	background-color: rgba(0, 0, 0, 0);
	box-shadow: var(--bg-primary) 0px 16px 0 0,
		var(--bg-primary) 11.313708498985346px 11.313708498984175px 0 0,
		var(--bg-primary) 16px -1.6545848568817156e-12px 0 0,
		var(--bg-primary) 11.313708498983003px -11.313708498986518px 0 0,
		var(--bg-primary) -3.309169713763431e-12px -16px 0 0,
		var(--bg-primary) -11.313708498987683px -11.313708498981837px 0 0,
		var(--bg-primary) -16px 4.970859998002748e-12px 0 0,
		var(--bg-primary) -11.313708498980663px 11.313708498988857px 0 0,
		var(--bg-primary) 6.618339427526862e-12px 16px 0 0;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

/*Breadcrumb*/
.breadcrumb {
	background-color: var(--bg-light);
	color: var(--fg-dark);
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: var(--radius);
}
.breadcrumb > .breadcrumb-item {
	color: var(--bg-dark);
	display: inline;

	border-radius: var(--radius);
	color: var(--bg-primary);

	width: max-content;
	font-weight: 700;
	letter-spacing: 2px;

	display: inline-block;
	transition: background-color 0.3s;
	cursor: pointer;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;

	padding-top: 5px;
	padding-bottom: 5px;

	border: 0;

	transition: var(--transitionTime);
	filter: brightness(1);
}
.breadcrumb > .breadcrumb-item:last-child {
	filter: saturate(0.2);
	cursor: default;
}

.breadcrumb > .breadcrumb-item:not(:last-child):hover {
	transition: var(--transitionTime);
	filter: brightness(0.75);
}
.breadcrumb > .breadcrumb-item:not(:last-child):after {
	content: " / ";
}

/*Navbar*/
.navbar {
	display: block;
	z-index: 3;
	/*height: 34px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
*/
	width: 100%;
}

.navbar > .item,
.navbar > .right > .item {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	transition: opacity 0.3s;
	cursor: pointer;
	opacity: 0.8;
}

.navbar > .item:hover,
.navbar > .right > .item:hover {
	opacity: 1;
}

.navbar > .title {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	font-weight: 700;
	font-size: 21px;
	padding-left: 0;
	padding-right: 0;
    margin-right:10px;
	cursor: pointer;
}
/*
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 14px;
    position:fixed;
    width:100%;
    */
/*Footer*/
.footer {
	background-color: var(--bg-color);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 25px;
    box-shadow: 0 0 10px -5px #000;
    color: #e1e0e0;
    text-align: center;
    z-index: -1;
}
/*Box*/
.box {
	display: block;
	vertical-align: top;
	background-color: var(--bg-dark);
	border-radius: var(--radius);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: var(--radius);
}

/*jumbotron*/
.jumbotron {
	display: block;
	padding-top: 85px;
	padding-bottom: 85px;
	border-radius: var(--radius);
}

.jumbotron > .title {
	font-weight: 700;
	font-size: 40px;
	display: block;
	margin-left: 20px;

	color: var(--bg-light);
}

.jumbotron > .subtitle {
	display: block;
	line-height: 23px;
	margin-left: 20px;
	color: var(--bg-light);
	font-size: 24px;
	font-weight: 600;
	opacity: 0.7;
}
.jumbotron > .detail {
	display: block;
	font-size: 15px;
	margin-left: 20px;
	opacity: 0.6;

	color: var(--bg-light);
	line-height: 22px;

	opacity: 0.5;
}

/*Card*/
.card > .header > .title {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: var(--bg-dark);
}

.card > .header > .subtitle {
	display: block;
	font-size: 15px;
	opacity: 0.6;
	line-height: 18px;
	color: var(--bg-dark);
}

.card > .header > .detail {
	display: block;
	font-size: 12px;
	opacity: 0.6;
	line-height: 18px;
	color: var(--bg-dark);
}

.card {
	line-height: 24px;
	font-size: 16px;
	padding: 1px;
	background-color: var(--bg-light);
	border-radius: var(--radius);
	min-height: max-content;
	min-width: max-content;
}

.card > .header {
	padding: 8px;
	border-radius: var(--radius) var(--radius) 0 0;
}
.card > .body {
	padding: 8px;
	background-color: var(--bg-light);
	color: var(--fg-dark);
	margin-top: 2px;
}

.card > .footer {
	padding: 8px;
	border-radius: 0 0 var(--radius) var(--radius);
	color: var(--bg-dark);
}

/*Form*/
body .field {
	display: flex !important;
	margin-top: 5px;
	margin-bottom: 5px;
	height: max-content;
	/*border:solid 1px red;*/
}

body .field.flex-v {
}

.flex-v {
	flex-direction: column;
}

body .field > :first-child {
	flex: 1 !important;
}

body .field > :last-child:not(.checkbox):not([type="button"]) {
	flex: 1 !important;
}
/*Input*/
body .label {
	display: inline-block;

	font-size: 15px;

	font-weight: 600;
	padding-right: 10px;

	color: var(--fg-light);
}

body .input {
	display: inline;
	border: none;
	padding: 4px;
	border-radius: var(--radius);
	background-color: var(--bg-light);
	color: var(--fg-dark);
	outline: 0;
}

input[type="checkbox"].checkbox {
	width: 20px;
	height: 20px;
	max-width: 20px;
	max-height: 20px;

	margin-right: 6px;
	cursor: pointer;
	font-size: 18px;
	visibility: hidden;
	outline: 0;
	font-weight: bold;
}

input[type="checkbox"].checkbox:after {
	content: "";
	position: relative;
	left: -4px;
	background-color: var(--bg-primary);
	color: var(--fg-light);

	display: inline-block;
	padding: 1px;
	padding-left: 3px;
	width: 17px;
	height: 20px;

	border-radius: var(--radius);
	visibility: visible;
}

input[type="checkbox"].checkbox:checked:after {
	content: "\2714";
}
@-moz-document url-prefix() {
	input[type="checkbox"].checkbox {
		width: 20px;
		height: 20px;
		max-width: 20px;
		max-height: 20px;

		margin-right: 6px;
		cursor: pointer;
		font-size: 18px;
		visibility: visible;
		outline: 0;
		font-weight: bold;
	}
}
.input:not([type="image" i]) {
	box-sizing: border-box;
}
input[type="color"] {
	border: none;
	width: 32px;
	height: 32px;
	max-width: 35px;
	outline: 0;

	clip-path: circle();
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="color" i] {
	background-color: buttonface;
	cursor: default;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(169, 169, 169);
	border-image: initial;
	padding: 0;
}

/*Typo*/
.title {
	display: block;
	font-size: 18px;
	font-weight: 700;
}

.subtitle {
	display: block;
	font-size: 15px;
	opacity: 0.6;
	line-height: 23px;
}

.detail {
	display: block;
	font-size: 12px;
	opacity: 0.5;
	line-height: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	display: block;
	font-weight: 600;
	color: var(--fg-light);
	padding: 0;
	margin-bottom: 0.5em;
}
.h1:not(:first-child),
.h2:not(:first-child),
.h3:not(:first-child),
.h4:not(:first-child),
.h5:not(:first-child),
.h6:not(:first-child) {
	margin-top: 30px;
}

.h1 {
	font-size: 40px;
	line-height: 51px;
}
.h2 {
	font-size: 32px;
	line-height: 40px;
}
.h3 {
	font-size: 28px;
	line-height: 29px;
}
.h4 {
	font-size: 24px;
	line-height: 25px;
}
.h5 {
	font-size: 20px;
	line-height: 22px;
}
.h6 {
	font-size: 16px;
	line-height: 20px;
}

.link {
	color: var(--linkColor);
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s;
	cursor: pointer;
}

div.small,
p.small,
span.small {
	font-size: 13px;
}

.code {
	display: block;
	overflow-x: auto;
	width: calc(100% - 2 * 15px);

	color: var(--fg-light);
	background-color: var(--bg-dark);

	line-height: 22px;
	font-size: 14px;

	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	margin-top: 0;
}
