
@media screen and (min-aspect-ratio: 10/16) {
    .logo {
        height: 65px;
        max-height: 10vw;
    }

    .navbar {
        flex-direction: row;
        padding-bottom:1vh;
        padding-left:15%;
        padding-right:15%;
        width:70%;
        background-color: #081c32;
        margin-bottom: 25px;
        padding-top: 6px;
        display: flex;
        align-items: first baseline;
        max-width: calc(100% - 2 * 20px);
    }

    .btnContainer {
        display: flex;
        margin-left: auto;
    }

    .navbarBtn{
        user-select: none;
        background-color: transparent;
        border: medium;
        color: rgb(27, 97, 173);
    }

    .SectionPage {
        max-width: 70%;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
        color: white;
        padding: 20px;
        border-radius: 020px;
        margin-bottom: 4px;
        font-size: 100%;
        width: calc(100% - 40px);
    }

    .GameArt {
        border-radius:20px;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
